@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-tital {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* same style  */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.main-width{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
.text-color-h1{
    color: #E95A08;
}
/* header section start */
.header{
    max-width: 1140px;
    margin: 25px auto;

}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-li{
    display: flex;
    gap: 30px;
    list-style: none;
}
.header-li-a{
    display: flex;
    gap: 20px;
}
.header-a{
    text-decoration: none;
}
.text-style-home{
    color: #252432;
    font-weight: bold;
}
.text-style-by-all{
    color: #8987A1;
    font-weight: 600;
}
/* <!-- always fresh flower start --> */
.banar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.banar-contain{
   align-items: center;
}
.banar-contain h1{
    font-size: 4rem;
    font-weight: bold;
    align-items: center; 
}

.banar-contain p{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    align-items: center;
}
.banar-img{
    align-items: center;
}
/* <!-- our plaet start  --> */
.plant-contain h1{
   font-size: 4rem;
    font-weight: bold; 
    text-align: center;
}
.plant-contain p{
  font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);  
    text-align: center;
}
.card{
    max-width: 100%;
    max-height: 500px;
    text-align: center;
    margin-bottom: 30px;
}
.card-tital{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 27px;
}
.card-prize{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 17px;
}
.button{
    margin-top: 27px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 14px 60px;
    background-color: #E95A08;
    border: none
}
.margin{
    margin-top: 49px;
}
.card-img{
    width: 100%;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
/* <!-- flower and plant lover start  --> */
.flower-and-love-section{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 60px;
 position: relative;
}
.flower-and-love-img{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -132px;
    left: +350px;
    transition: transfrom 1s ease-out 3s;
}
.flower-and-love-section:hover .flower-and-love-img{
   transform: translate(-450px); 
}
.sticar{
    border-radius: 5px;
}
.flower-and-love-contain h1{
font-size: 3.5rem;
font-weight: bold;
margin-bottom: 20px;
}
.flower-and-love-li li{
font-size: 1.6rem;
font-weight: 600;
margin-bottom: 20px;
color: rgba(0, 0, 0, 0.5);
}
/* <!-- Latest  Deals start  --> */
.latest-section h1{
    font-size: 4rem;
    font-weight: bold; 
    text-align: center;
}
.latest-section p{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);  
    text-align: center;
}
.latest-a{
    color:white;
}
.latest-tital h3{
margin-bottom: 8px;
}
.latest-continar{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 120px;
    margin-bottom: 120px;

}
.latest-continar-img1{
    background-image: url(../assets/deal-bloom.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 367px;
    height: 201px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.latest-continar-img2{
    background-image: url(../assets/deal-ana.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 367px;
    height: 201px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.latest-continar-img3{
    background-image: url(../assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width: 753px;
    height: 423px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
/* <!-- join section start  --> */
.join-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 533px;
}
.join-tital{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 23px;
    color: white;
}
.join-input{
    width: 704px;
    height: 50px;
    /* padding: 0 20px; */
}
.join-button{
    background-color: #E95A08;
    width: 144px;
    height: 50px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}
.join-button:hover{
    background-color:lightslategrey;
}
.join-fild{
    display: flex;
}
/* footer section start  */
.main-width2{
    max-width: 1140px;
    margin: 50px auto;
}

.footer{
  display: flex;
   justify-content: space-evenly;
}
.footer-tital img{
    margin-bottom: 20px;
}
 .footer-tital p{
    font-size: 1.5rem;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.5);
    width: 360px;
 }
 .footer-tital2{
    list-style: none;
 }
 .footer-a{
    text-decoration: none;
    color: #8987A1;
 }
 .footer-tital2 li{
    margin-bottom: 32px;
 }
 .footer-img-w-h1 ,.footer-img-w-h2,.footer-img-w-h4{
    width: 36px;
    height: 36px;
 }
 .footer-img-w-h3{
    width: 30px;
    height: 30px;
 }
 .footer-img{
  display: flex;
  justify-content: space-between;
  gap: 24px;
 }

@media screen and (max-width:576px) {
    *{
        box-sizing: border-box;
    }
    .modil-divice{
        margin: 120px 7px;
    }
    .header{
        margin: 50px 7px;
    }
    .header-li-a{
        display: none;
    }
    .banar{
      flex-direction: column-reverse;
    }
    .banar-contain h1{
        font-size: 2rem;
    }
    .banar-contain p {
        font-size: 1.1rem;
    }
    .banar-img{
        width: 100%;
        margin: 0;
    }
    .card-section{
        grid-template-columns: repeat(2 ,1fr);
        gap: 0px;
    }
    .card{
        width: 100%;
        margin-bottom: 30px;
        margin-right: 10px;
    }
    .button{
        padding:15px 30px;
    }
    .card-img{
        width: 95%;
    }
    .flower-and-love-section{
        flex-direction: column;
    }
    .flower-and-love-img{
        display: none;
    }
    .sticar{
        width: 100%;
    }
    .flower-and-love-contain{
        width: 100%;
    }
    .latest-continar{
        flex-direction: column;
        justify-content: center;
    }
    .latest-continar-img1{
        width: 100%;
        height: 177px;
        font-size: 1.2rem;
    }
    .latest-continar-img2{
      width: 100%;
        height: 177px;
        font-size: 1.2rem;  
    }
    .latest-continar-img3{
        width: 100%;
        height: 177px;
        font-size: 1.2rem;
    }
     .join-section {
    height: auto;
    padding: 30px 15px;
  }

  .join-section{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 276px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .join-tital{
        font-size: 1.5rem;
    }
    .join-input{
        width: 210px;
        padding: 0 10px;
    }
    .join-button{
        font-size: 0.7rem;
        width: 100px;
    }
    .footer{
        flex-direction: column;
        margin: 20px 20px;
    }
    .footer-img{
        justify-content: start;
    }
    
}