@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-tital {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* same style  */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main > section{
    max-width: 1140px;
    margin: 120px auto;
}
/* header section start */
.header{
    max-width: 1140px;
    margin: 25px auto;

}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-li{
    display: flex;
    gap: 30px;
    list-style: none;
}
.header-li-a{
    display: flex;
    gap: 20px;
}
.header-a{
    text-decoration: none;
}
.text-style-home{
    color: #252432;
    font-weight: bold;
}
.text-style-by-all{
    color: #8987A1;
    font-weight: 600;
}
/* <!-- always fresh flower start --> */
.banar{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.banar-contain{
   align-items: center;
}
.banar-contain h1{
    font-size: 4rem;
    font-weight: bold;
    align-items: center; 
}
.text-color-h1{
    color: #E95A08;
}
.banar-contain p{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    align-items: center;
}
.banar-img{
    align-items: center;
}
/* <!-- our plaet start  --> */
.plant-contain h1{
   font-size: 4rem;
    font-weight: bold; 
    text-align: center;
}
.plant-contain p{
  font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);  
    text-align: center;
}
.card{
    max-width: 100%;
    max-height: 500px;
    text-align: center;
    margin-bottom: 30px;
}
.card-tital{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 27px;
}
.card-prize{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 17px;
}
.card-h2{
    margin-top: 27px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 16px 80px;
    background-color: #E95A08;
}
.margin{
    margin-top: 49px;
}
.card-img{
    width: 100%;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media screen and (max-width:576px) {
    *{
        box-sizing: border-box;
        margin: 5px;
    }
    .header-li-a{
        display: none;
    }
    .banar{
      flex-direction: column-reverse;
    }
    .banar-contain h1{
        font-size: 2rem;
    }
    .banar-contain p {
        font-size: 1.1rem;
    }
    .banar-img{
        width: 100%;
        margin: 0;
    }
    .card-section{
        grid-template-columns: repeat(2 ,1fr);
        gap: 0px;
    }
    .card{
        width: 100%;
        margin-bottom: 30px;
        margin-right: 10px;
    }
    .card-h2{
        padding: 10px;
    }
    .card-img{
        width: 95%;
    }

    
}